.home
  %h1
    %span Inspiration

  %p
    Zie Creative follows a number of design-related websites and blogs for inspiration.
  
  .inspiration
    %b The best of packaging design
    = link_to 'www.thedieline.com', 'http://www.thedieline.com', :target => '_blank'
    %br
    %b Vancouver branding studio
    = link_to 'www.brandever.com', 'http://www.brandever.com', :target => '_blank'
    %br
    %b Design studio in NYC
    = link_to 'www.louisefili.com', 'http://www.louisefili.com', :target => '_blank'
    %br
    %b Typography
    = link_to 'friendsoftype.com', 'http://friendsoftype.com', :target => '_blank'
    %br
    %b Progressive design blog
    = link_to 'www.shillingtondesignblog.com', 'http://www.shillingtondesignblog.com', :target => '_blank'
    %br
    %b Design studio, Australia
    = link_to 'www.frostdesign.com.au', 'http://www.frostdesign.com.au', :target => '_blank'
    %br
    %b Canadian designer
    = link_to 'www.jvallee.com', 'http://www.jvallee.com', :target => '_blank'
    %br
    %b Arts, culture and design
    = link_to 'www.frankie.com.au', 'http://www.frankie.com.au', :target => '_blank'
    %br
    %b Society of Graphic Designers
    = link_to 'www.gdc.net', 'http://www.gdc.net', :target => '_blank'
