= render :partial => 'layouts/header'
= link_to('Home', root_url) + '&nbsp;|&nbsp;'.html_safe
= link_to('Admin', admin_url)
= '&nbsp;|&nbsp;'.html_safe + link_to('Logout', logout_url) if authenticated?
= yield

