!!! 5
%html
  %head
    %title
      ZieCreative
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header
      .logo
        ZieCreative
      .sparkle
        Sparkle....
    .admin_links
      = link_to('Sections', sections_url) unless current_page?(sections_path)
    = yield

