!!! 5
%html
  = render :partial => 'layouts/header'
  %body
    .wrapper
      .header
        .logo
          = image_tag 'logo.png', :alt => 'ZieCreative'
        .sparkle
          = image_tag 'sparkle.png', :alt => ''
      = render :partial => 'layouts/menu'
      = yield
      .push
    = render :partial => 'layouts/footer'
      
