%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      &= title
    = render 'layouts/metadata'
    = stylesheet_tag 
    
    = yield(:head)

  %body.bp
    .container{ :class => (!Rails.env.production? ? 'showgrid' : '') }
      = yield